
.mono/keypairs
Arobas Music
Microsoft*
NuGet

clash
coc
configstore
htop
nvim
simple-update-notifier
stetic/library-cache
wireshark
xbuild
.DS_Store
karabiner/automatic_backups
lazygit/state.yml
yarn/global
bpytop/*.log
karabiner/automatic_backups
